.flex-clearfix {
  &:before, &:after {
    content: " ";
    display: flex;
    box-sizing: border-box;
    width: 0;
    height: 0;
    font-size: 0;
  }
  &:after {
    clear: both;
  }
}

.flex-column, .flex-row {
  display: flex;
  flex-wrap: wrap; // 默认换行
  @extend .flex-clearfix;
}

.flex-column {
  flex-direction: column;
}

.is-justify-center {
  justify-content: center;
}

$flex-column = 12;
$flex-list = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
for $i in $flex-list
  .flex-item-{$i} {
    float: left;
    width: ($i  * 100% / $flex-column);
  }
  .flex-offset-{$i} {
    margin-left: ($i  * 100% / $flex-column);
  }
  .flex-order-{$i} {
    order: $i;
  }

for $i in $flex-list
  @media (max-width: 768px) {
    .flex-item-sm-{$i} {
      float: left;
      width: ($i  * 100% / $flex-column);
    }
  }

for $i in $flex-list
  @media (max-width: 992px) {
    .flex-item-md-{$i} {
      float: left;
      width: ($i  * 100% / $flex-column);
    }
  }
