.icon-svg {
  vertical-align: baseline;
  display: inline-block;
  fill: currentColor;
}

.social-icon {
  text-decoration: none;
  display inline-block;
  height 24px;
  width 24px;
  color: #c6cbd1;
  &:hover {
    color: #959da5;
  }
}
