media_queries = {
  mobile_  : "only screen and (min-width: 480px)",  // 大于等于 480px
  tablet_  : "only screen and (min-width: 768px)",  // 大于等于 768px  小屏幕（平板）
  laptop_  : "only screen and (min-width: 992px)",  // 大于等于 992px  中等屏幕（桌面显示器）
  desktop_ : "only screen and (min-width: 1200px)", // 大于等于 1200px 大屏幕（大桌面显示器）

  _mobile  : "only screen and (max-width: 479px)",  // 小于等于 479px
  _tablet  : "only screen and (max-width: 767px)",  // 小于等于 767px
  _laptop  : "only screen and (max-width: 991px)",  // 小于等于 991px
  _desktop : "only screen and (max-width: 1199px)"  // 小于等于 1119px
}

for_breakpoint(breakpoints)
  conditions = ()
  for breakpoint in breakpoints {
    push(conditions, media_queries[breakpoint])
  }
  conditions = join(", ", conditions)
  @media conditions
    {block}
