// tablet 以下
$tablet-xs = 767px
// tablet 以上（含tablet）
$contain-tablet = ($tablet-xs + 1)

// laptop
$laptop-sm = 991px;
// laptop 以上（含laptop）
$contain-laptop = ($laptop-sm + 1)

// desktop
$desktop-md = 1199px
// desktop 以上（含desktop）
$contain-desktop = ($desktop-md + 1)

$bg = #35495e;
